extends ../layout

block content
    h1(style="text-align: center;") Manage Post
    if errors
        each error in errors
            .alert.alert-danger(style="text-align: center; font-size: 20px;")= error
    table.table
        tr
            th Title
            th Status
            th Action
        if post
            each item in post
                tr
                    td
                        a(href="/post/review/"+item._id)= item.title
                    td= item.status
                    td
                        a.btn.btn-primary.ml-2(href="/post/approve/"+item._id) Approve
                        a.btn.btn-danger.ml-2(href="/post/deny/"+item._id) Deny