extends ../layout

block content
    h1(style="text-align: center;") Make your new post
    if errors
        each error in errors
            .alert.alert-danger= error
    form#postEditor(method="POST" enctype="application/json")
        .col-4
            .input-group.mb-3
                .input-group-prepend
                    label.input-group-text(for='inputGroupSelect01') Category
                select#inputGroupSelect01.custom-select(name="category")
                    option(selected value='world') World
                    option(value='business') Business
                    option(value='weather') Weather
                    option(value='politics') Politics
                    option(value='education') Education
                    option(value='science') Science
                    option(value='travel') Travel
                    option(value='health') Health
                    option(value='sport') Sport
                    option(value='tech') Tech

        .input-group.mb-3
            .input-group-prepend
                span#basic-addon1.input-group-text Title
            input.form-control(type='text' aria-describedby='basic-addon1' name="title")
        .input-group.mb-3
            .input-group-prepend
                span.input-group-text Summary
            textarea.form-control(name="summary" style="resize: none;") 
        textarea#editor(name="editor")
        button.btn.btn-primary.mt-2 Post
        script(type='text/javascript').
            $('#editor').summernote({
                tabsize: 2,
                height: 600,
                lang: 'en'
            });
            var cate = document.getElementById('inputGroupSelect01');