extends ../layout

block content
    .container-fluid.mb-3#display
        .card.col-8
            .card-body#view
                h5.card-title.title= post.title
                p.card-text!= post.content
    .card.col-2.justify-content-center.ml-5
        a.btn.btn-primary.ml-2.mb-2.mt-2(href="/post/approve/"+post._id) Approve
        a.btn.btn-danger.ml-2.mb-2(href="/post/deny/"+post._id) Deny