extends ../layout

block content
    .container-fluid.mb-3#display
        .card.col-8
            .card-body#view
                h5.card-title.title= post.title
                p.card-text!= post.content
        a.btn.btn-primary.ml-2(href="/post/approve/"+item._id) Approve
        a.btn.btn-danger.ml-2(href="/post/deny/"+item._id) Deny