doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    script(src="/javascripts/jquery-3.3.1.slim.min.js")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light 
      a.navbar-brand(href='/')
        img(src="/images/Express_News_Old.png" weight="100" height="64")
      a.navbar-brand#brand(href='/') Express News

      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Trang chủ 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/xahoi') Xã hội
          li.nav-item
            a.nav-link(href='/doisong') Đời sống
          li.nav-item
            a.nav-link(href='/thegioi') Thế giới
          li.nav-item
            a.nav-link(href='/thoitiet') Thời tiết
          li.nav-item
            a.nav-link(href='/chinhtri') Chính trị
          li.nav-item
            a.nav-link(href='/giaoduc') Giáo dục
          li.nav-item
            a.nav-link(href='/khoahoc') Khoa học
          li.nav-item
            a.nav-link(href='/dulich') Du lịch
          li.nav-item
            a.nav-link(href='/phapluat') Pháp luật
          li.nav-item
            a.nav-link(href='/congnghe') Công nghệ
          if user
            .dropdown
              button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= user.name
              .dropdown-menu(aria-labelledby='dropdownMenuButton')
                if user.permission > 0
                  if user.permission == 2
                    a.dropdown-item(href='/users/list-users') Manage Users
                    a.dropdown-item(href='/post/write-news') Post
                  else if user.permission == 1
                    a.dropdown-item(href='/post/write-news') Post
                a.dropdown-item(href='/users/info/'+user._id) Personal infomation
                a.dropdown-item(href='/users/info/change-password/'+user._id) Change password
                a.dropdown-item(href='/users/logout') Logout
          else
            a.button.btn.btn-light.ml-3(href="/users/login") Log in










    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/popper.min.js")
    block content
    div.footer
      footer
        div
          ul
            li
              h1 CHĂM SÓC KHÁCH HÀNG
              hr
              p
                a(href="/guaranteepolicy") Chính sách bảo hành
              p
                a(href="/installmentpurchase") Mua hàng trả góp
              a(href='/returnandexchangepolicy') Chính sách đổi trả
              br
            li
              h1 LIÊN HỆ NHANH
              hr
              p Mua hàng: 0123456789 (Miễn phí) 
              p Khiếu nại - Góp ý: 0987654321 (Miễn phí)
              p
                | Email: 
                a(href='mailto:abcxyz@gmail.com' target="top") abcxyz@gmail.com
            li
              h1 TRỤ SỞ CHÍNH
              hr
              p 18 Ung Văn Khiêm, Phường Đông Xuyên, Thành phố; Long Xuyên, An Giang

