doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    script(src="/javascripts/jquery-3.3.1.slim.min.js")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light 
      a.navbar-brand(href='/')
        img(src="/images/Express_News_Old.png" weight="100" height="64")
      a.navbar-brand#brand(href='/') Express News

      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/world') World
          li.nav-item
            a.nav-link(href='/business') Business
          li.nav-item
            a.nav-link(href='/weather') Weather
          li.nav-item
            a.nav-link(href='/politics') Politics
          li.nav-item
            a.nav-link(href='/education') Education
          li.nav-item
            a.nav-link(href='/science') Science
          li.nav-item
            a.nav-link(href='/travel') Travel
          li.nav-item
            a.nav-link(href='/health') Health
          li.nav-item
            a.nav-link(href='/sport') Sport
          li.nav-item
            a.nav-link(href='/tech') Tech
          if user
            .dropdown.user.ml-3.mt-2
              button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= user.name
              .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                if user.permission > 0
                  if user.permission == 2
                    a.dropdown-item(href='/users/list-users') Manage Users
                    a.dropdown-item(href='/post/manage-post') Manage Post
                    a.dropdown-item(href='/post/write-news') Post
                  else if user.permission == 1
                    a.dropdown-item(href='/post/write-news') Post
                a.dropdown-item(href='/users/info/'+user._id) Personal infomation
                a.dropdown-item(href='/users/info/change-password/'+user._id) Change password
                a.dropdown-item(href='/users/logout') Logout
          else
            a.button.btn.btn-light.ml-3.user(href="/users/login") Log in










    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/popper.min.js")
    block content
    div.footer
      footer
        div
          ul
            li
              h1 CHĂM SÓC KHÁCH HÀNG
              hr
              p
                a(href="/guaranteepolicy") Chính sách bảo hành
              p
                a(href="/installmentpurchase") Mua hàng trả góp
              a(href='/returnandexchangepolicy') Chính sách đổi trả
              br
            li
              h1 LIÊN HỆ NHANH
              hr
              p Mua hàng: 0123456789 (Miễn phí) 
              p Khiếu nại - Góp ý: 0987654321 (Miễn phí)
              p
                | Email: 
                a(href='mailto:abcxyz@gmail.com' target="top") abcxyz@gmail.com
            li
              h1 TRỤ SỞ CHÍNH
              hr
              p 18 Ung Văn Khiêm, Phường Đông Xuyên, Thành phố; Long Xuyên, An Giang

