body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a.navbar-brand{
  margin-left: 5%;
}

a.navbar-brand#brand{
  margin-left: 0%;
  font-size: xx-large;
}

a.nav-link{
  font-size: x-large;
}



.user{
  display: inline-block;
}

div#sign{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
}

table.table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

form {
  padding-left: 25%;
  padding-right: 25%;
}

.col {
  font-size: 20px;
  float: left;
}

/*id property*/
form#editor {
  padding: 10%; 
  padding-top: 2%;
}

#permission {
  display: flex;
}

#title{
  font-size: xx-large;
}

#post {
  margin-left: 5%;
  margin-right: 5%;
}

#display {
  display: flex;
}

#titleViewMost {
  font-size: large;
  font-weight: bold;
}

.url {
  color: black;
}

.url:hover {
  color: rgb(57, 48, 141);
  text-decoration: none;
}

.footer{
  background-color:black;
  float: none;
  width: 100%;
  padding:10px;
  position: absolute;
}

.footer footer{
  color:white;   
}

.footer div{
  margin-left: 5%;
}

.footer div ul{
  width: 100%;
}

.footer div ul li{
  float: left;
  display: block;
  width: 27%;
  margin-right: 5%;
}

.footer div ul li h1{
  font-size: 20px;
  padding-bottom: 5px;
}

.footer div ul li a{
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
}

.footer div ul li a:hover{
  text-decoration: underline;
}

.footer div ul li hr{
  border: 0.5px dotted rgb(150, 150, 150) ;
}

.footer div ul li p{
  padding-top: 3px;
  padding-bottom: 3px;
}

