body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a.navbar-brand {
  margin-left: 5%;
}

a.navbar-brand#brand {
  margin-left: 0%;
  font-size: xx-large;
}

a.nav-link {
  font-size: x-large;
}

.user {
  display: inline-block;
}

div#sign {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
}

textarea {
  width: 100%;
}

table.table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

form {
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 5%;
}

.col {
  font-size: 20px;
  float: left;
}

/*id property*/
form#postEditor {
  padding: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
}

#permission {
  display: flex;
  padding-left: 0%;
}

#post {
  margin-left: 5%;
  margin-right: 5%;
}

#display {
  display: flex;
}

#titleViewMost {
  font-size: large;
  font-weight: bold;
}

#view {
  margin-left: 10%;
  margin-right: 10%;
}

#comment {
  padding-left: 0%;
  padding-right: 0%;
}

#txt {
  font-size: medium;
  width: 100%;
}

.title {
  font-size: xx-large;
}

.url {
  color: black;
}

.url:hover {
  color: rgb(57, 48, 141);
  text-decoration: none;
}

.card-img {
  margin: 0.5em;
}
