extends ../layout

block content
    h1(style="text-align: center;") Change Password
    if errors
        each error in errors
            .alert.alert-danger= error
    form(method="POST" style="padding-left: 25%; padding-right: 25%;")
        .form-group.row
            lable(for="currentPassword") Current Password 
            input#currentPassword.form-control.mt-2(type="password" name="currentPassword")
        .form-group.row
            lable(for="newPassword") New password
            input#newPassword.form-control.mt-2(type="password" name="newPassword")
        button.btn.btn-primary.mt-2 Change Password
        