extends ../layout 

block content
    h1(style="text-align: center;") User Infomation
    form(action="")
        .form-group.row
            lable(for="name") Name 
            input#name.form-control.mt-2(type="text" name="name" value=user.name disabled)
        .form-group.row
            lable(for="email") Email
            input#email.form-control.mt-2(type="text" name="email" value=user.email disabled)
        .form-group.row
            lable(for="phone") Phone
            input#phone.form-control.mt-2(type="text" name="phone" value=user.phone disabled)